.showcaseContainer {
  width: var(--standard-width);
  margin: 0 auto;
  height: 90vh;
//   background: red;
  color: var(--textColor);
  display: flex;
//   justify-content: space-between;
justify-content: center;
  align-items: center;
  .showcaseLatestEpisode {
    width: 55%;
    height: 70%;
    // background: blue;
    padding-top: 50px;

    .latestEpisodeNumber {
      color: var(--main-color);
      font-weight: bold;
      font-family: "Nunito Sans";
      font-size: 40px;
    }
    .latestEpisodeTitle {
      width: 90%;
      font-size: 60px;
      font-weight: 900;
      font-family: "Nunito Sans";
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .latestEpisodeDescription {
      color: #ccc;
      span {
        color: var(--main-color);
        font-weight: bold;
        cursor: pointer;
      }
    }

    .episodeDate {
        color: #ccc;
        font-size: 12px;
        margin: 20px 0px;
        .calendarIcon {
            color: var(--main-color);
        }
    }

    .playLatestEpisodeButton {
      display: flex;
      align-items: center;
      gap: 15px;
      margin: 15px 0px;
      cursor: pointer;
      font-weight: bold;

      .playIconContainer {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .playIcon {
            font-size: 18px;
            color:var(--main-color);
        }
      }
    }

    .showcaseButtons {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 50px;
        margin-top: 60px;

        button {
            width: 200px;
            height: 60px;
            border-radius: 20px;
        }

        .allEpisodesButton {
            background-color: var(--main-color);
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            border: none;
            cursor: pointer;
        }
        .listenNow {
            background-color: #fff;
            color: var(--main-color);
            font-weight: bold;
            font-size: 20px;
            border: 2px solid white;
            cursor: pointer;
            // transition: all 0.5s ease-in-out;
        }
    }
  }
  .showcaseImage {
    width: 35%;
    height: 80%;
    background: url("../\(assets\)/banner.jpg");
    background-position: top left;
    background-size: 160%;
    background-repeat: no-repeat;
  }
}



.featuredEpisodeContainer {
  width: var(--standard-width);
  margin: 0 auto;
  margin-top: 50px;

  h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    // color: var(--textColor);
    color: var(--textColor);
  }

  h2 {
    color: var(--main-color);
    text-align: center;
    margin-top: 15px;
  }

  .featuredEpisodeList {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 60px;

    .featuredEpisode {
      width: 20%;
      height: auto;
      background: #030303;
      border: 1px solid #2b2b2b;
      color: var(--textColor);
      padding: 15px;
      // box-shadow: 0 0 10px var(--main-color);

      .featuredEpisodeNumber {
        font-family: 'Anton';
        // text-align: center;
        font-size: 55px;

        span {
          font-family: 'Anton';
          color: var(--main-color);
        }
      }

      .featuredTitle {
        font-size: 35px;
      }

      .featuredDateandDuration {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
        font-size: 13px;
        color: #9b9b9b;

      }

      .featuredEpisodeDescription {
        font-size: 15px;
        margin-top: 10px;
        color: #dbdada;
      }

      .featuredEpisodePlayButton {
        width: 100%;
        height: 60px;
        border-radius: 30px;
        margin-top: 30px;
        background: var(--main-color);
        color: var(--textColor);
        font-weight: bold;
        font-size: 20px;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.subscribeContainer {

  color: var(--textColor);
  h1 {
    text-align: center;
    font-size: 50px;
  }
  h2 {
    font-size: 18px;
    text-align: center;
    color: var(--main-color);
  } 

  .subscribeForm {
    width: 30%;
    margin: 0 auto;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;


    input{
      width: 100%;
      height: 50px;
      border-radius: 25px;
      padding: 10px;
      border: 2px solid white;
      background-color: transparent;
      color: var(--textColor);
      font-weight: bold;
      &::placeholder {
        color: var(--textColor);
        font-weight: bold;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      height: 60px;
      margin-top: 30px;
      background-color: var(--main-color);
      color: var(--textColor);
      font-weight: bold;
      font-size: 20px;
      border: none;
    }
  }
}


.footerContainer {
  width: 100%;
  height: 300px;
  background: var(--blk);
  display: flex;
    justify-content: space-evenly;
  color: var(--textColor);
  margin-top: 100px;
  border-top: 1px solid #272727;
  padding-top: 20px;
  .footerAbout {
    width: 30%;
    // background: ;
  }
  .footerRecentEpisode{
    display: flex;
    flex-direction: column;

    span {
      margin-bottom: 20px;
      color: var(--main-color);
      font-weight: bold;
    }
  }

  .footerContact {


    .footerIcons {
      color: var(--main-color);
    }

    .footerLocation {
      margin: 10px 0px;
    }
    .footerLinks{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      margin-bottom: 10px;

    }

    .contactButton_footer {
      width: 100%;
      height: 40px;
      background: var(--main-color);
      border-radius: 15px;
      border: 1px solid transparent;
      color: var(--textColor);
      margin-top: 20px;
      cursor: pointer;
    }
  }
}