

.navigationContainer {
    width: var(--standard-width);
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    color: var(--textColor);


    .leftLinks {
        width: 35%;
        display: flex;
        justify-content: space-between;
        // background: blue;

        span {
            font-weight: 400;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            // add a hover effect
            &:hover {
                color: var(--main-color);
            }
        }

        .active {
            font-weight: 600;
            color: var(--main-color);
        }
    }

    .logo {
        width: 40%;
        text-align: center;
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 35px;
        color: var(--text-color);
        // background: green;
    }

    .rightLinks {
        width: 35%;
        height: 100%;
        display: flex;
        align-items: center !important;
        justify-content: flex-end;
        gap: 80px;
        .podcastbanner {
            width: 150px;
            height: 50%;
            cursor: pointer;
        }

        .applePodcast {
            background: url('../\(assets\)/applebanner.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .spotifyPodcast {
            background: url('../\(assets\)/spotifybanner.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

    }
}