@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --main-color: #043944;
    --color2: #043944
}


*{
    margin: 0;
    padding: 0;
    color: var(--main-color);
    font-family: 'Roboto';
}

html {
    background-color: #fff;
}

